@charset "UTF-8";


*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgb(228, 228, 228);
}

header{
    background-color: rgb(68, 68, 202);
}

header h1{
    color: white;
    text-align: center;
    padding: 10px 0px;
}

menu{
    display: none;
}

menu ul{
    list-style-type: none;
}

menu a{
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px;
    text-align: center;
    border: 1px solid rgb(52, 52, 155);
}

main{
    background-color: white;
    padding: 20px;
    width: 85%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}

menu a:hover{
    background-color: rgb(52, 52, 155);
    font-weight: bolder;
}


article h2{
    text-align: center;
    padding: 15px;
}

article p{
    line-height: 1.5em;
    text-indent: 40px;
    margin-bottom: 10px;
    text-align: justify;
}

#menu-burguer{
    color: white;
    display: block;
    text-align: center;
    padding: 10px;
    
}

#menu-burguer:hover{
    background-color: rgb(52, 52, 155);
    cursor: pointer;
}

