*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Geral e Mobile First*/

body,html{
    background-color: rgb(95, 15, 170);
}

main{
    height: 100vh;
    width: 100vw;
    position: relative;
}

#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   
    
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.3);
}

#imagem{
    background-image: url(../imagens/metal.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 200px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#formulario{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#formulario h1{
    text-align: center;
}

#formulario p {
    font-size: 1em;
    color: rgb(80, 80, 80);
    text-align: justify;
}